:root {
  --bg-main: #0c0a0e;
  --accent-gold: #dfb76c;
  --text-light: #e6dfd5;
  --text-muted: #827b87;
  --border-color: #2b2533;
  --input-bg: #070609;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-main);
  color: var(--text-light);
  min-height: 100vh;
  -webkit-user-select: none;
  user-select: none;
}

#app {
  display: flex;
  justify-content: center;
}
